   body {
            font-family: Arial;
            background-color: #1c2942;
            padding: 30px;
        }
        .container {
            width: 400px;
            background: white;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }   
        .info label {
            font-weight: bold;
        }
        .info p {
            margin-top: 5px;
            margin-bottom: 15px;
            background-color: #f9f9f9;
            padding: 8px;
            border-radius: 5px;
        }
        a {
            display: block;
            text-align: center;
            text-decoration: none;
            background: #007bff;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }
        a:hover {
            background: #0056b3;
        }